Source: python-astor
Section: python
Priority: optional
Maintainer: Docker Packaging Team <docker-maint@lists.alioth.debian.org>
Uploaders: Paul Tagliamonte <paultag@debian.org>,
 Tianon Gravi <admwiggin@gmail.com>
Build-Depends: debhelper (>= 9),
 dh-python,
 python-all (>= 2.6.6-3~),
 python-setuptools,
 python3-all (>= 3.2~),
 python3-setuptools
Standards-Version: 3.9.5
Homepage: https://github.com/berkerpeksag/astor/
Vcs-Svn: svn://anonscm.debian.org/python-modules/packages/python-astor/trunk/
Vcs-Browser: http://anonscm.debian.org/viewvc/python-modules/packages/python-astor/trunk/
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2

Package: python-astor
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Python AST manipulator
 astor is designed to allow easy manipulation of Python source via the AST.
 .
 This package provides Python 2 module bindings only.

Package: python3-astor
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python 3 AST manipulator
 astor is designed to allow easy manipulation of Python source via the AST.
 .
 This package provides Python 3 module bindings only.
